<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:mvc="http://www.springframework.org/schema/mvc"
		xmlns:p="http://www.springframework.org/schema/p"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
           https://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           https://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/mvc
           https://www.springframework.org/schema/mvc/spring-mvc.xsd">
           
           <!-- Enable @Controller, @RequestMapping, etc -->
              <mvc:annotation-driven  />
              
              <!-- Scan your all controller/dao/model/service .etc package -->
           <context:component-scan base-package="springmvc"/>
<!--            View Resolver -->
		<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" name="viewResolver">
		
		<property name="prefix" value="/WEB-INF/views/"/>
		<property name="suffix" value=".jsp"/>
		
		</bean>
		
		
		<bean class="org.springframework.orm.hibernate7.LocalSessionFactoryBean" name="factory">
		<!--data source-->
		<property name="dataSource" ref="ds"></property>
		
		<!--hibernate properties-->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<!-- <prop key="hibernate.hbm2ddl.auto">update</prop> -->
				<prop key="hibernate.format_sql">true</prop>
				<prop key="jakarta.persistence.schema-generation.database.action">update</prop>
			</props>
		</property>
		
		<!--annotated classes-->
		<property name="annotatedClasses">
			<list>
				<value>springmvc.model.User</value>
			</list>
		</property>
	</bean>
		
		
		<bean 
		     class="org.springframework.orm.hibernate7.HibernateTemplate"
		     name="hibernateTemplate">
		     <property name="sessionFactory" ref="factory"/>
		     </bean>
</beans>

<!--   example /WEB-INF/views/hello.jsp -->